:host {

  .lib-container {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  .library-info-container {
    padding: 10px 5px;
  }

  .library-info-name {
    font-size: 20px;
  }

  .library-info-current-version {
    font-size: 14px;
  }
}
