library-project-dependency {

  display: block;

  .project-container {
    display: flex;
    padding: 0 16px;
  }

  .project-version {
    width: 80px;
    text-align: right;
  }

  .project-name {
    flex: 1;
    text-align: left;
  }

  .project-name, .project-version {
    padding: 6px 0;
    justify-content: center;
    align-self: center;
    font-weight: 500;
    filter: drop-shadow(0 0 3px $silver-color);
  }

  .project-version-status-very-old {
    color: $pomegranate-color;
    background: lighten($pomegranate-color, 40%);
  }

  .project-version-status-old {
    color: $carrot-color;
  }

  .project-version-status-good, .project-version-status-ok {
    color: $green-sea-color;
  }
}
