body {
  background-color: $background-color;
  color: $font-color;
  font-family: 'Oswald', serif;
  margin: 0;
}
navbar {
  color: $clouds-color;
}
.heimdall-front-libs-dash-board {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

