@import "../../assets/styles/palette";
@import "../../assets/styles/variables";

:host {
  display: flex;

  .grid-cell {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: $grid-cell-width;
    height: $grid-cell-height;
    background-color: $dark-midnight-blue-color;
    box-sizing: border-box;
    border: 1px solid $darker-midnight-blue-color;
    color: $clouds-color;
  }

  .grid-cell-text {
    filter: drop-shadow(0 0 2px $asbestos-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: calc(#{$grid-cell-width} - 10px);
  }
}
